*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    padding: 0px 20px;
}
h1{
    font-family: "Love Ya Like A Sister", cursive ;
}

h1, p{
    margin-bottom: 100px;
}

h2{
    margin-bottom: 10px;
    font-size: 25px;
}

*, h2, p{
 font-family: "Loved by the King", cursive;
 font-weight: 500;
}

.inputs{
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: center;
}
img{
    width: 10%;
    height: auto;
    object-fit: contain;  /*this makes the object stops stretching */
    justify-self: center;
}

button{
    margin-top: 80px;
    width: 100px;
    border-radius: 3%;
}

@media (max-width: 500px) {
    .inputs{
        display: flex;
        flex-direction: column;
    }

    input{
        margin: 10px;
    }
    img{
        align-self: center;
    }
}


#result p{
    font-size: 30px;
}